<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>Art Flux - Delete</title>
  <link rel="shortcut icon" type="image/jpg" href="../images/art.png"/>
</head>
<body class="post">
  <header>
    <h1>Art Flux.</h1>
  <nav id="mainNav">
    <a href="/add">Add</a>
    <a href="/allposts">All Posts</a>
  </nav>
</header>
<main>
        <%= message %>
</main>
  
<footer>
  &copy; Regan Benner | 2021 | rbenner5051@conestogac.on.ca  
</footer>

</body>
</html>